*{
    margin: 0px;
    padding: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    font-size: larger;
    box-shadow: 0px 2px 6px gray;
    margin-bottom: 50px;
}

header img{
    height: 50px;
}

header #logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

header button{
    width: 80px;
    height: 35px;
    background-color: rgb(154, 186, 47);
    border: none;
    border-radius: 40px;
    font-weight: bold;
    font-size: medium;
    color: white;
}

header button:hover{
    scale: 1.1;
    border: 1px solid black;
    box-shadow: 1px 1px 4px gray;
    transition: all 100ms ease-in;
}

#nav a{
    margin: 0px 20px;
    text-decoration: none;
    color: gray;
}

#nav #home{
    color: black;
    border-bottom: 2px solid;
}

#nav a:hover{
    color: black;
    border-bottom: 2px solid;
    transition: all 100ms ease-in;
}


#hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 45px 45px 45px;
}

#hero h1{
    color: rgb(0, 64, 32);
    font-size: 80px;
    font-weight: 800px;
    font-style: normal;
    font-family: 'Montserrat';
}

#hero h2{
    color: rgb(154, 186, 47);
    font-size: 80px;
    font-weight: 800px;
    font-style: normal;
    font-family: 'Montserrat';
}

#hero div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#hero p{
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    color: rgb(78, 78, 78);
}

#hero button, #audit_text button{
    width: 220px;
    height: 45px;
    border-radius: 50px;
    background-color: rgb(154, 186, 47);
    font-weight: 400;
    border: 0px;
    font-size: large;
    color: white;
}

button{
    cursor: pointer;
}

#companyLogo{
    height: 130px;
    background-color: rgb(242, 243, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}

#companyLogo img{
    margin: 0px 20px;
}

#intro{
    background-color: rgb(246, 252, 245);
    padding: 60px 40px 80px 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#intro h1{
    font-weight: 700;
    font-size: 54px;
    font-family: 'Montserrat';
    line-height: 66px;
    margin-bottom: 10px;
    background: linear-gradient(117.58deg, #001408 -5.12%, #005C2F 97.3%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#intro p{
    font-family: 'Montserrat';
    font-size: 19px;
    font-weight: 500;
    line-height: 29px;
    background: linear-gradient(117.58deg, #001408 -5.12%, #005C2F 97.3%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#intro button{
    width: 165px;
    height: 45px;
    border-radius: 50px;
    background-color: rgb(154, 186, 47);
    font-weight: 400;
    border: 0px;
    font-size: large;
    color: white;
    margin: 20px 0px 25px 0px;
}

#intro #featured-logos{
    display: flex;
    flex-direction: column;
}

#featured-logos img{
    margin: 0px 20px 0px 0px;
}

#carbon-tab{
    height: 145px;
    background-color: rgb(242, 243, 245);
    margin: 90px 0px;
    padding: 60px 90px;
    position: relative;
}

#carbon-tab h1{
    font-family: 'Montserrat';
    font-size: 34px;
    font-weight: 700;
    width: 546px;
    line-height: 143.3%;
    letter-spacing: -0.015em;
    color: #001737;
}

#carbon-tab #carbon-img{
    position: absolute;
    top: 50%;
    transform: translate(100%, -50%);
}

#power{
    padding: 50px 0px 20px 0px;
}

#power h1{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 42px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.015em;
    background: linear-gradient(117.58deg, #001408 -5.12%, #005C2F 97.3%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#power h2{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 42px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.015em;
    background: linear-gradient(117.58deg, #001408 -5.12%, #005C2F 97.3%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 20px;
}

#power p{
    font-style: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 175.3%;
    text-align: center;
    color: rgb(78, 78, 78);
    margin-bottom: 15px;
    opacity: 0.8;
}

#power-wrap{
    display: flex;
    justify-content: center;
    margin: 55px 0px;
}

.tab{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

#power-wrap h2{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.02em;
    margin: 30px 0px 10px 0px;
}

#power-wrap p{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #212529;
    opacity: 0.8;
}

#emission_tab{
    height: max-content;
    background-color: rgb(247, 249, 250);
    padding: 50px 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#emission_tab h1{
    color: rgb(0, 64, 32);
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 42px;
    margin: 0px 0px 40px 0px;
}

#emission_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

#audit_img img{
    border-radius: 20px;
    box-shadow: 2px 2px 6px gray;
}

#audit_text{
    font-weight: 700;
    font-size: 28px;
    color: #001737;
    margin-bottom: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

#audit_text p{
    color: #868E96;
    font-weight: 500;
    font-size: 26px;
}



/* media queries */

@media (max-width: 1024px){

    header #nav{
        display: none;
    }

    #hero h1, #hero h2{
        font-size: 1.5em;
    }

    #hero img{
        height: 200px;
        margin-top: 12px;
    }

    #companyLogo{
        height: 100px;
        padding: 10px 30px;
    }

    #intro{
        display: flex;
        flex-direction: column;

    }

    #intro h1, #intro p{
        font-size: 1.5em;
    }

    #intro img{
        width: 200px;
    }

    #featured-logos img{
        margin: 18px 0px 0px 0px;
    }

    #carbon-tab{
        padding: 15px;
        margin: 5px;
        height: 100%;
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #carbon-tab h1{
        font-size: 1.2em;
        width: fit-content;
    }

    #carbon-tab #carbon-img{
        position: static;
        top: auto;
        transform: none;
    }

    #carbon-img img{
        width: 80%;
    }

    #emission_wrap{
        display: flex;
        flex-wrap: wrap;
    }

    #audit_img img{
        width: 90vw;
    }

    
}